<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="" class="logo">otoPalety<span class="dot">.</span><span class="country">pl</span></a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/firm">Firma</a>
        <a href="/product">Produkty</a>
        <a href="/gallery">Galeria</a>
        <a href="/work">Praca</a>
        <a href="/localization">Lokalizacja</a>
        <a href="/contact">Kontakt</a>
    </nav>
</header>