<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a routerLink="" class="logo">otoPalety<span class="dot">.</span><span class="country">pl</span></a>

    <nav class="navbar">
        <a routerLink="/" i18n>Home</a>
        <a routerLink="/firm" i18n>Firma</a>
        <a routerLink="/product" i18n>Produkty</a>
        <a routerLink="/gallery" i18n>Galeria</a>
        <a routerLink="/work" i18n>Praca</a>
        <a routerLink="/localization" i18n>Lokalizacja</a>
        <a routerLink="/contact" i18n>Kontakt</a>
    </nav>
</header>