<div class="contact">

    <h1 class="heading"> <span>kontakt</span></h1>

    <div class="data">
    
        <h3>Adres </h3><p>Grunwaldzka 61, 58-340 Głuszyca</p>
        <h3>E-mail</h3><p>email@email.pl</p>
        <h3>Telefon</h3><p>606405148</p>

    </div>

    <div class="row">

        <form class="form">
            <input type="text" id="name" placeholder="Imię" class="box" required>
            <input type="email" id="email" placeholder="E-mail" class="box" required>
            <textarea name="" id="message" class="box" placeholder="Wiadomość" cols="30" rows="10"></textarea>
            <input type="submit" value="Wyślij wiadomość" class="btn">
        </form>

        <div class="image">
            <img src="../../../assets/pallets-9.jpg" alt="">
        </div>

    </div>
    
</div>