<div class="contact">

    <h1 class="heading" i18n> <span>kontakt</span></h1>

    <div class="data">

        <div class="data-value">
            <h3 i18n>E-mail</h3>
            <h4>z.deszczynski@gmail.com</h4>
        </div>

        <div class="data-value">
            <h3 i18n>Adres</h3>
            <h4>Grunwaldzka 61, 58-340 Głuszyca</h4>
        </div>

        <div class="data-value">
            <h3 i18n>Telefon</h3>
            <h4>+48606405148</h4>
        </div>

    </div>

    <div class="row">

        <form class="form" [formGroup]="contactForm" (submit)="submit()" *ngIf="this.contactForm">
            <input i18n-placeholder type="email" placeholder="E-mail" class="box" formControlName="email" required>
            <input i18n-placeholder type="text" placeholder="Imię" class="box" formControlName="name" required>
            <textarea i18n-placeholder name="" class="box" placeholder="Wiadomość" formControlName="message" cols="30" rows="10"></textarea>
            <input i18n-value type="submit" (click)="openSnackBar()" value="Wyślij wiadomość" class="btn">
        </form>

        <div class="image">
            <img src="../../../assets/pallets-9.jpg" alt="">
        </div>

    </div>

</div>