<div class="products">

    <h1 class="heading" i18n> najnowsze <span>produkty</span></h1>

    <h2 i18n>Paleta<br> wymiary<br><span>800 x 1000</span></h2>

    <div class="container" gallerize="gallery-1">

        <div class="box" *ngFor="let product of items800">

            <div class="image" >
                <img [src]="product.image">
            </div>

        </div>

    </div>

    <h2 i18n>Paleta<br> wymiary<br><span>1000 x 1000</span></h2>

    <div class="container" gallerize="gallery-2" >

        <div class="box" *ngFor="let product of items1000">

            <div class="image" >
                <img [src]="product.image">
            </div>

        </div>

    </div>

</div>