<mat-drawer-container class="products">
  <mat-drawer mode="side" opened class="drawer">
    <h1 i18n>Oferta</h1>
    <mat-selection-list
      class="sidebar"
      multiple="false"
      hideSingleSelectionIndicator="true"
    >
      
      <h2 i18n>Palety:</h2>

      <mat-list-option *ngFor="let category of categories">
        
        <option (click)="getCategory(category.name)" class="options">
          {{ category.name }}
        </option>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="content">
    <div class="container" gallerize="gallery-1">
      <div class="box" *ngFor="let product of products">
        <div class="image">
          <img [src]="product.image" />
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
