<div class="products">

    <h1 class="heading"> najnowsze <span>produkty</span></h1>

    <h2>Paleta<br> wymiary<br><span>800 x 1000</span></h2>

    <div class="container" gallerize="gallery-1">

        <div class="box" *ngFor="let product1 of items800">

            <div class="image" >
                <img [src]="product1.image">
            </div>

        </div>

    </div>

    <h2>Paleta<br> wymiary<br><span>1000 x 1000</span></h2>

    <div class="container" gallerize="gallery-2" >

        <div class="box" *ngFor="let product2 of items1000">

            <div class="image" >
                <img [src]="product2.image">
            </div>

        </div>

    </div>

</div>