@import '../../../variable.scss';

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../../../assets/palety-8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5px;
}
.home .content {
    padding: 9%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.home .content h3 {
    font-size: 60px;
    color: $brightWood;
}
.home .content span {
    font-size: 45px;
    color: orange;
    line-height: 1.5;
}

// firm

.firm {
    padding: 0 9% 9%; //top-right+left-bottom
    position: relative;
}

.firm .heading {
    text-align: center;
    font-size: 60px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 7% 0; //top-right-bottom-left
}

.firm .heading span {
    margin-top: -100px;
    color: $brightWood;
}

.firm .row {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-bottom: 3px;
}

.firm .row .video-container {
    flex: 1 1 40px;
    position: relative;
}

.firm .row .video-container video {
    width: 100%;
    border: 15px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.firm .row .content {
    flex: 1 1 40px;
}

.firm .row .content h3 {
    font-size: 40px;
    counter-reset: #333;
    line-height: 1;
}

.firm .row .content p {
    font-size: 20px;
    counter-reset: #999;
    padding: 10px 0;
    padding-top: 10px;
    line-height: 1.5;
}

.icons-container {
    padding: 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icons-container .icons {
    background: #fff;
    border: 3px solid rgba(0, 0, 0, .1);
    padding: 10px;
    display: flex;
    align-items: center;
    flex: 1 1 20px;
}

.icons-container .icons img {
    height: 120px;
    margin-left: 7%;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: 5px;
    margin-left: 50px;
    font-size: 20px;
}

.icons-container .icons span {
    color: #999;
    margin-left: 50px;
    font-size: 17px;
}

// products
.products {
    padding: 0 9% 3%; //top-right+left-bottom
    position: relative;
    display: flex;
    flex-direction: column;
}

.products .heading {
    text-align: center;
    font-size: 60px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 0 0; //top-right-bottom-left
}

.products span {
    color: $brightWood;
}

.products h2 {
    text-align: center;
    font-size: 30px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 0 0; //top-right-bottom-left
}

.products .container {
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.products .container .box {
    flex: 1 1 150px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background: #fff;
}

.products .container .box .image {
    position: relative;
    text-align: center;
    padding: 1rem;
}

.products .container .box .image img {
    border-radius: .5rem;
    width: 250px;
    height: 250px;
}

.products .container .box .image img:hover {
    transform: scale(1.1);
}

// gallery

.gallery {
    padding: 0 9% 3%; //top-right+left-bottom
    position: relative;
    display: flex;
    flex-direction: column;
}

.gallery .heading {
    text-align: center;
    font-size: 60px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 0 0; //top-right-bottom-left
}

.gallery .heading span {
    color: $brightWood;
}

.gallery .container {
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery .container .box {
    flex: 1 1 150px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background: #fff;
}

.gallery .container .box .image {
    position: relative;
    text-align: center;
    padding: 1rem;
}

.gallery .container .box .image img {
    border-radius: .5rem;
    width: 330px;
    height: 330px;
}

.gallery .container .box .image img:hover {
    transform: scale(1.1);
}

// work

.work {
    padding: 0 9% 3%; //top-right+left-bottom
    position: relative;
}

.work .heading {
    text-align: center;
    font-size: 60px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 7% 0; //top-right-bottom-left
}

.work .heading span {
    margin-top: -100px;
    color: $brightWood;
}

.work .row {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-bottom: 3px;
}

.work .row .video-container {
    flex: 1 1 50px;
    position: relative;
}

.work .row .video-container video {
    width: 100%;
    border: 15px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.work .row .content {
    flex: 1 1 40px;
}

.work .row .content h3 {
    font-size: 30px;
    counter-reset: #333;
}

.work .row .content p {
    font-size: 18px;
    counter-reset: #999;
    padding: 0 0;
    padding-top: 10px;
    line-height: 1.2;
}

.localization {
    padding: 0 9% 9%; //top-right+left-bottom
}

.localization .heading {
    text-align: center;
    font-size: 60px;
    color: #333;
    padding: 10px;
    margin: 0px 0;
    padding: 7% 0 7% 0; //top-right-bottom-left
}

.localization .heading span {
    margin-top: -100px;
    color: $brightWood;
}

.map-wrapper {
    border: 4px solid $brightWood;
}

.map {
    width: 100%;
    margin-bottom: -4px;
}

.btn:hover {
    background: $brightWood;
}

.btn {
    width: auto;
    height: auto;
    display: block;
    margin: 20px 165px;
    border-radius: 20px;
    background: #333;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 25px;
}












.home .is-phone-portrait {
    font-size: 20px;

}

// .home .is-phone-portrait {
//     .home{
//         display: flex;
//         align-items: center;
//         min-height: 100vh;
//         background: url(../../../assets/pallets-9.jpg) no-repeat;
//         background-size: cover;
//         background-position: center;
//         margin-top: -5px;
//     }
//     .home .content{
//         padding: 9%;
//         max-width: 1000px;
//         display: flex;
//         flex-direction: column;
//     }
//     .home .content h3{
//         font-size: 60px;
//         color: $brightWood;
//     }
//     .home .content span{
//         font-size: 45px;
//         color: orange;
//         line-height: 1.5;
//     }
//  }