<div class="home">

    <div class="content">

        <h3>Wytrzymałe Palety</h3>

        <span> Solidne i Odporne</span>

        <a href="/contact" class="btn">Kontakt</a>
        
    </div>

</div>
<div class="firm">

    <h1 class="heading"> o<span> firmie</span></h1>

    <div class="row">

        <!-- film ze strony z darmowymi zdjeciami itp.-->

        <div class="video-container">
            <video [muted]="'muted'" [loop]="'loop'" [autoplay]="'autoplay'">
                <source src="../../../assets/pallets-video-2.mp4">
            </video>
        </div>

        <div class="content">
            <h3>Dlaczego warto wybrać nasze palety?</h3>

            <p>Oferujemy
                produkty najwyższej jakości, wykonane z materiałów o wysokiej trwałości.
                Nasze palety są odporne na uszkodzenia, a także wytrzymałe
                na obciążenia, co jest niezwykle ważne przy transporcie ciężkich ładunków.</p>

            <p>Mamy w swojej ofercie palety różnych rozmiarów i typów.
                Możesz u nas znaleźć palety euro, standardowe, jednorazowe,
                a także palety specjalne dostosowane do indywidualnych potrzeb klientów.</p>

            <p>Oferujemy konkurencyjne ceny i szybką realizację zamówień.
                Jesteśmy w stanie dostarczyć palety na terenie całego kraju w
                krótkim czasie, co umożliwia Ci szybkie rozpoczęcie pracy.</p>

            <a href="/contact" class="btn">Kontakt</a>

        </div>

    </div>

</div>

<div class="icons-container">

    <div class="icons">
        <img src="../../../assets/badge.png" alt="">
        <div class="info">
            <h3>Wysoka jakość</h3>
            <span>gwarantowana</span>
        </div>
    </div>

    <div class="icons">
        <img src="../../../assets/delivery-truck.png" alt="">
        <div class="info">
            <h3>Szybka dostawa</h3>
            <span>do każdego miejsca</span>
        </div>
    </div>

    <div class="icons">
        <img src="../../../assets/best-price.png" alt="">
        <div class="info">
            <h3>Atrakcyjne ceny</h3>
            <span>do negocjacji</span>
        </div>
    </div>

</div>

<div class="products">

    <h1 class="heading"> najnowsze <span>produkty</span></h1>

    <h2>Palety</h2>

    <div class="container" gallerize="gallery-1">

        <div class="box" *ngFor="let product of products">

            <div class="image" >
                <p>{{product.productType}}</p>
                <p>{{product.height}} x {{product.width}}</p>
                <img [src]="product.image">
            </div>

        </div>

    </div>

    <a href="/product" class="btn">Zobacz więcej</a>

</div>

<div class="gallery">

    <h1 class="heading">nasza <span>galeria</span></h1>

    <div class="container" gallerize>

        <div class="box" *ngFor="let img of imageData">

            <div class="image">
                <img [src]="img.srcUrl">
            </div>

        </div>

    </div>>

    <a href="/gallery" class="btn">Zobacz więcej</a>

</div>

<div class="work">

    <h1 class="heading"> nasza <span>praca</span></h1>

    <div class="row">

        <div class="video-container">
            <video [muted]="'muted'" [loop]="'loop'" [autoplay]="'autoplay'">
                <source src="../../../assets/production.mp4">
            </video>

        </div>

        <div class="content">
            <h3>Lokalni dostawcy</h3>
            <p>Lokalne dostawy drewna pozwalają nam na szybszą realizację zamówień i
                dostarczenie produktów w krótkim czasie. Dzięki temu nasi
                klienci mogą być pewni, że otrzymają swoje palety na czas,
                co jest szczególnie ważne w przypadku branż logistycznych
                i przemysłowych.</p>
            <h3>Najwyższa jakość</h3>
            <p>Oferujemy palety najwyższej jakości, wykonane z materiałów,
                które są odporne na uszkodzenia i wytrzymałe na obciążenia.
                Dzięki temu nasze palety są nie tylko trwałe, ale także
                bezpieczne w transporcie towarów, co jest szczególnie istotne
                w przypadku wrażliwych ładunków.</p>
            <h3>Indywidualne zamówienia</h3>
            <p>Jako lokalny dostawca palet, jesteśmy także w stanie dostosować
                nasze produkty do indywidualnych potrzeb klientów.
                Jeśli potrzebujesz palet o specjalnych wymiarach lub konstrukcji,
                jesteśmy w stanie je dla Ciebie wykonać.</p>
            <p>Wszystkie nasze palety są wyprodukowane zgodnie z najwyższymi
                standardami jakościowymi, dzięki czemu możesz być pewien,
                że otrzymujesz produkt najwyższej jakości.
                Zapraszamy do zapoznania się z naszą ofertą i skorzystania
                z naszych usług.</p>
            <a routerLink="/work" class="btn">Zobacz więcej</a>

        </div>

    </div>

</div>

<app-localization></app-localization>
<app-contact></app-contact>