<div class="firm">

    <h1 class="heading"> o<span> firmie</span></h1>

    <div class="row">

        <!-- film ze strony z darmowymi zdjeciami itp.-->

        <div class="video-container">
            <video [muted]="'muted'" [loop]="'loop'" [autoplay]="'autoplay'">
                <source src="../../../assets/pallets-video-2.mp4">
            </video>
        </div>

        <div class="content">
            <h3>Dlaczego warto wybrać nasze palety?</h3>

            <p>Oferujemy
                produkty najwyższej jakości, wykonane z materiałów o wysokiej trwałości.
                Nasze palety są odporne na uszkodzenia, a także wytrzymałe
                na obciążenia, co jest niezwykle ważne przy transporcie ciężkich ładunków.</p>

            <p>Mamy w swojej ofercie palety różnych rozmiarów i typów.
                Możesz u nas znaleźć palety euro, standardowe, jednorazowe,
                a także palety specjalne dostosowane do indywidualnych potrzeb klientów.</p>

            <p>Oferujemy konkurencyjne ceny i szybką realizację zamówień.
                Jesteśmy w stanie dostarczyć palety na terenie całego kraju w
                krótkim czasie, co umożliwia Ci szybkie rozpoczęcie pracy.</p>

            <a href="/contact" class="btn">Kontakt</a>

        </div>

    </div>

</div>

<div class="icons-container">

    <div class="icons">
        <img src="../../../assets/badge.png" alt="">
        <div class="info">
            <h3>Wysoka jakość</h3>
            <span>gwarantowana</span>
        </div>
    </div>

    <div class="icons">
        <img src="../../../assets/delivery-truck.png" alt="">
        <div class="info">
            <h3>Szybka dostawa</h3>
            <span>do każdego miejsca</span>
        </div>
    </div>

    <div class="icons">
        <img src="../../../assets/best-price.png" alt="">
        <div class="info">
            <h3>Atrakcyjne ceny</h3>
            <span>do negocjacji</span>
        </div>
    </div>

</div>