
<div class="work">

    <h1 class="heading"> nasza <span>praca</span></h1>

    <div class="row">

        <div class="video-container">
            <video [muted]="'muted'" [loop]="'loop'" [autoplay]="'autoplay'">
                <source src="../../../assets/production.mp4">
            </video>

        </div>

        <div class="content">
            <h3>Lokalni dostawcy</h3>
            <p>Lokalne dostawy drewna pozwalają nam na szybszą realizację zamówień i
                dostarczenie produktów w krótkim czasie. Dzięki temu nasi
                klienci mogą być pewni, że otrzymają swoje palety na czas,
                co jest szczególnie ważne w przypadku branż logistycznych
                i przemysłowych.</p>
            <h3>Najwyższa jakość</h3>
            <p>Oferujemy palety najwyższej jakości, wykonane z materiałów,
                które są odporne na uszkodzenia i wytrzymałe na obciążenia.
                Dzięki temu nasze palety są nie tylko trwałe, ale także
                bezpieczne w transporcie towarów, co jest szczególnie istotne
                w przypadku wrażliwych ładunków.</p>
            <h3>Indywidualne zamówienia</h3>
            <p>Jako lokalny dostawca palet, jesteśmy także w stanie dostosować
                nasze produkty do indywidualnych potrzeb klientów.
                Jeśli potrzebujesz palet o specjalnych wymiarach lub konstrukcji,
                jesteśmy w stanie je dla Ciebie wykonać.</p>
            <p>Wszystkie nasze palety są wyprodukowane zgodnie z najwyższymi
                standardami jakościowymi, dzięki czemu możesz być pewien,
                że otrzymujesz produkt najwyższej jakości.
                Zapraszamy do zapoznania się z naszą ofertą i skorzystania
                z naszych usług.</p>
            <a href="#contact" class="btn">Kontakt</a>

        </div>

    </div>

</div>