<div class="localization">

    <h1 class="heading">nasza <span>lokalizacja</span></h1>
    
    <div class="map-wrapper">
        
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80903.7282386616!2d16.23998431640625!3d50.678342000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e4543f9d3dd65%3A0x21062dcde03efa19!2sTartak%2C%20Deszczy%C5%84ski%20Zbigniew%2C%20Produkcja%20wyrob%C3%B3w%20drewnianych!5e0!3m2!1sen!2spl!4v1679312448421!5m2!1sen!2spl"
            width="1248" height="600" style="border:0.5rem;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>